<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

    <div class="well sidebar-nav" >
        <ul class="nav nav-list">
            <li>
                <a href="#guide_list">Guide list</a>
                <ul class="nav nav-list">
                    <li>
                        <a href="#gettingstarted">Getting Started</a>
                    </li>
                    <li>
                        <a href="#configuring">Configuring ServiceConnect</a>
                    </li>
                    <li>
                        <a href="#commands">Sending Commands</a>
                    </li>
                    <li>
                        <a href="#events">Publishing Events</a>
                    </li>
                    <li>
                        <a href="#polymorphicMessages">Polymorphic message dispatch</a>
                    </li>
                    <li>
                        <a href="#requestreply">Request Reply</a>
                    </li>
                    <li>
                        <a href="#processmanagers">Process Managers (Long Running Processes)</a>
                    </li>
                    <li>
                        <a href="#routingslip">Routing Slip</a>
                    </li>
                    <li>
                        <a href="#recipientList">Recipient List</a>
                    </li>
                    <li>
                        <a href="#aggregator">Message Aggregation</a>
                    </li>
                    <li>
                        <a href="#scattergather">Scatter Gather</a>
                    </li>
                    <li>
                        <a href="#streaming">Streaming</a>
                    </li>
                    <li>
                        <a href="#contentbasedRouting">Content-Based Router</a>
                    </li>
                    <li>
                        <a href="#auditing">Message Auditing</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#telluswhatyouthink">Tell Us What You Think!</a>
            </li>
        </ul>
    </div>
</div>