@{
    ViewBag.Title = "News";
}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-12 sidebar-offcanvas">
            <div class="col-xs-12 col-sm-9">

                <h2>News</h2>
                
                <h3>ServiceConnect 3.0.0 Released!</h3>
                <p>
                    <i>(15.03.2106)</i> - ServiceConnect version 3.0.0 is now out.
                </p>

                <h3>ServiceConnect</h3>
                <p>
                    For the version 3.0 release, R.MessageBus has been renamed to ServiceConnect.
                </p>

                <h3>R.MessageBus 2.0.0 Released!</h3>
                <p>
                    R.MessageBus version 2.0.0 is now out.
                </p>
            </div>
            </div>
    </div>
    <div id="telluswhatyouthink" style="padding: 20px;">@Html.Partial("../Home/_chat")</div>
    @Html.Partial("_footer")
</div>