/*body {
  padding-top: 20px;
}*/

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */


.sidebar-nav {
padding: 9px 0;
}

.nav-list {
padding-right: 15px;
padding-left: 15px;
margin-bottom: 0;
}


.nav-list > li > a {
padding: 3px 15px;
}

.nav-list > li > a, .nav-list .nav-header {
margin-right: -15px;
margin-left: -15px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

