<footer class="footer">
    <p>Developed by <a href="https://github.com/twatson83">Tim Watson</a> and <a href="https://github.com/jpachansky">Jakub Pachansky</a></p>
    <p>&copy; R.MessageBus</p>
</footer>