<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav">
    <li><a href="#about">About R.MessageBus</a></li>
    <li><a href="#configuring">Configuring R.MessageBus</a></li>
    <li><a href="#sendingCommands">Sending Commands (Point-To-Point)</a></li>
    <li><a href="#publishing">Publishing Events (Publish/Subscribe)</a></li>
    <li><a href="#processManager">Long runnning processes (Workflow)</a></li>
    <li><a href="#requestReply">Request Reply</a></li>
    <li><a href="#routingSlip">Messages with Routing Slip</a></li>
    <li><a href="#recipientList">Messages with Recipient List</a></li>
    <li><a href="#aggregator">Message Aggregation</a></li>
    <li><a href="#scatterGather">Message Scatter-Gather</a></li>
    <li><a href="#streaming">Message Streaming</a></li>
    <li><a href="#retries">Retries</a></li>
    </ul>
</div>