<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><iframe src="/static/api/index.html" style="height: 800px; width: 100%;"></iframe></div>
    </div>
    <div id="telluswhatyouthink" style="padding: 20px;">@Html.Partial("../Home/_chat")</div>
    @Html.Partial("_footer")
</div>
