@{
    ViewBag.Title = "All Guides";
}

<div class="container-fluid">
<div class="row row-offcanvas row-offcanvas-left">
    @Html.Partial("_sidebar")

    <div class="col-xs-12 col-sm-9">
        <h2 id="guide_list">Guide list</h2>

        <p>We recommend that you read these guides, if possible, in this order:</p>

        <h3 id="gettingstarted"><a href="/gettingstarted">Getting started</a></h3>

        <p>This guide combines an overview of R.MessageBus with a quick tutorial that helps you to get started with it.
        It should take about 10 minutes to read and study the provided code examples. This guide covers:</p>

        <ul>
            <li>Features of R.MessageBus, why R.MessageBus was created</li>
            <li>R.MessageBus version requirements</li>
            <li>How to add R.MessageBus dependency to your project</li>
            <li>Basic Configuration</li>
            <li>Basic Usage</li>
        </ul>

        <h3 id="configuring"><a href="/configuring">Configuring R.MessageBus</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Simple configuration example</li>
            <li>Default configuration options</li>
            <li>Custom configuration example</li>
            <li>How to configure retries</li>
        </ul>

        <h3 id="commands"><a href="/commands">Sending Commands</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Defining commands</li>
            <li>Enpoint mapping configuration</li>
            <li>Sending commands</li>
            <li>Consuming commands</li>
        </ul>

        <h3 id="events"><a href="/events">Publishing Events</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Defining events</li>
            <li>Publishing events</li>
            <li>Consuming events</li>
        </ul>

        <h3 id="requestreply"><a href="/requestreply">Request Reply</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Defining messages</li>
            <li>Send with synchronous block</li>
            <li>Send with asynchronous callback</li>
        </ul>

        <h3 id="processmanagers"><a href="/processmanagers">Process Managers (Long Running Processes)</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Process Manager in R.MessageBus</li>
            <li>Handling Messages in Process Manager</li>
            <li>Ending Process Manager</li>
        </ul>

        <h3 id="routingslip"><a href="/routingslip">Routing Slip</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Message Definition</li>
            <li>Routing messages</li>
            <li>Consuming messages</li>
        </ul>

        <h3 id="recipientList"><a href="/recipientList">Recipient List</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Message Definitions</li>
            <li>Sending messages to recipients</li>
            <li>Sending messages to recipients and receiving synchronous replies</li>
            <li>Sending messages to recipients and receiving asynchronous replies</li>
            <li>Consuming messages</li>
        </ul>

        <h3 id="aggregator"><a href="/aggregator">Message Aggregation</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Defining messages</li>
            <li>Sending messages to Aggregator</li>
            <li>Consuming messages with Aggregator</li>
            <li>Aggregator Configuration Options</li>
        </ul>

        <h3 id="scattergather"><a href="/scattergather">Scatter Gather</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>Defining messages</li>
            <li>Publishing Request Messages</li>
            <li>Consuming messages</li>
        </ul>

        <h3 id="streaming"><a href="/streaming">Streaming</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>.....</li>
        </ul>

        <h3 id="auditing"><a href="/auditing">Message Auditing</a></h3>

        <p>This guide covers:</p>

        <ul>
            <li>.....</li>
        </ul>


        <br/>
        <br/>
        <br/>
        <br/>
        


            </div>
    
    </div>
    <div id="telluswhatyouthink" style="padding: 20px;">@Html.Partial("../Home/_chat")</div>
    @Html.Partial("_footer")
</div>