<div class="container">
    <div class="jumbotron">
        <img class="img-responsive" src="scripts/images/logo.png" />
        <p class="lead">A simple, easy to use asynchronous messaging framework for .NET</p>
        <p>
            <a class="btn btn-primary" href="GettingStarted">Get started! »</a>
            <a class="btn btn-default" href="guides">Read docs! »</a>
            <a class="btn btn-default" href="https://github.com/R-Suite/ServiceConnect-CSharp">Contribute! »</a>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h2>Enterprise Integration</h2>
            <p class="text-danger">Build for high performance and scalability with support for many well-known Enteprise Integration Patterns.</p>
            <p>ServiceConnect provides a simple model for building distributed applications while maintaining the separation of concerns that is essential for producing maintainable, testable code.</p>
        </div>
        <div class="col-lg-4">
            <h2>Feature Rich</h2>
            <p>ServiceConnect supports long-running processes and workflow capabilities using Process Manager, automatic retries for reliable integration, Message Streaming, Centralised Auditing, Exception Management, and <a href="news">much more...</a>
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Powerful monitoring</h2>
            <p>Use ServiceConnect Monitoring Dashboard to monitor vital statictics of your system endpoints such as CPU consumption, Memory usage as well as processing errors and failed messages.</p>
        </div>
    </div>
    @Html.Partial("_footer")
</div>
