@{
    ViewBag.Title = "Audit Monitor";
}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li>
                        <a href="#intro">Introduction</a>
                    </li>
                    <li>
                        <a href="#download">Downloads</a>
                    </li>
                    <li>
                        <a href="#requirements">Requirements</a>
                    </li>
                    <li>
                        <a href="#installation">Installation</a>
                    </li>
                    <li>
                        <a href="#configuration">Configuration</a>
                    </li>
                    <li>
                        <a href="#endpoints">Endpoints</a>
                    </li>
                    <li>
                        <a href="#service">Service Details</a>
                    </li>
                    <li>
                        <a href="#audit">Audit Messages</a>
                    </li>
                    <li>
                        <a href="#error">Error Messages</a>
                    </li>
                    <li>
                        <a href="#telluswhatyouthink">Tell Us What You Think!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">

            <h2 id="intro">Introduction</h2>
            <p>ServiceConnect Monitor is a operational dashboard for monitoring the health and activity of ServiceConnect Services.  The monitoring tool allows you to view depency graphs of services, retry failed messages, monitor resources and more. </p>
            
            <h2 id="download">Downloads</h2>
            <ul style="padding-left: 20px;">
                <li>Installer (msi) - <a href="downloads/installer">Download</a></li>
                <li>Release Package (zip) - <a href="downloads/release">Download</a></li>
                <li>Source Code - <a href="https://github.com/R-Suite/R.MessageBus.Monitor">Github Repository</a></li>
            </ul>

            <h2 id="requirements">Requirements</h2>
            <ul style="padding-left: 20px;">
                <li>.NET 4.5+</li>
                <li>MongoDB</li>
                <li>RabbitMQ</li>
            </ul>
            <h2 id="installation">Installation</h2>
            <p>
                You can install ServiceConnect Monitor using the installer (recommended) which will automatically install a windows service. The default url is http://{machine name}:8100.
            </p>
            <p>
                If you decide to install the monitor manually you can either clone the latest version from Github, build the solution and run it as a console application or manuallu install it as a windows service.  Or you can download the release package, run the exe as a console or install it manually as a windows service.
            </p>
            <h2 id="configuration">Configuration</h2>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Settings.png" />
            </p>

            <h2 id="endpoints">Endpoints</h2>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Graph.png" />
            </p>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Filter By Tag.png" />
            </p>

            <h2 id="service">Service Details</h2>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Service Details.png" />
            </p>

            <h2 id="audit">Audit Messages</h2>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor AUdit.png" />
            </p>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Message Content.png" />
            </p>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/MessageBus_Monitor Message Details.png" />
            </p>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Route.png" />
            </p>

            <h2 id="error">Error Messages</h2>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Errors.png" />
            </p>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Error Alert.png" />
            </p>
            <p style="margin-top:30px;">
                <img class="img-responsive" style="max-width: 90%" src="scripts/images/R_MessageBus_Monitor Exception.png" />
            </p>

        </div>
    </div>
    <div id="telluswhatyouthink" style="padding: 20px;">@Html.Partial("../Home/_chat")</div>
    @Html.Partial("_footer")
</div>